.form-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 30px;
}

.form-container .form{
    background: #e6e6e6;
    flex: 1;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 26px 54px;
}

.form-container .form h2 {
    font-weight: 400;
    font-size: 24px;
}